DOCTYPE
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="yes" name="apple-mobile-web-app-capable")
    title= htmlWebpackPlugin.options.title
  body
    section.content
      .todos
        .todos__header.header
          h1.header__title Todo list
          .header__button add
        #js-list.todos__wrapper 
      .content__copyright.copyright
        p © 2022. Author Name